body{
    background-color: black;
    color:white;
}
nav {
    text-align:left;
    background-color:#101111;
    padding:10px 0;
}
nav a{
    color:white;
    margin:0 15px;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3;
    }

nav a:hover{
    color:cyan;
    text-decoration:none;
    margin:0 15px;
    font-weight:bold;
    transition: color 1s,transform 0.8s;
}
.profile-pic{
    width:150px;
    height:150px;
    border-radius:50%;
    object-fit:cover;
    border:3px solid cyan;
    box-shadow:0 0 20px cyan;
    .profile-pic:hover{
        transform:scale(1);
        transition:transformn 1s;
    }
}
section{
    padding:40px;
    max-width:900px;
    margin:auto;
    background:rgb(26, 27, 26);
    margin-bottom: 20px;
    border-radius:10px;
    box-shadow:0 0 10px rbga(0,0,0,0.1)
}
.project
{
    background:rgb(57, 169, 137);
    padding:20px;
    margin-bottom: 20px;
    border-left:5px solid #00bfff
    border-radius:5px;
}
.project h3{
    margin-top:0;
    color:#31c050
}
footer{
    background:#222;
    color:rgb(155, 9, 97);
    text-align:center;
    padding:15px;
    margin-top:20px;
    font-size:0.9em;
}
.skills{
    max-width:900px;
    margin:30px auto;
    text-align:center;
}
.skills h2{
    color: cyan;
    margin-bottom:20px;
}
.skill-icons{
    display:flex;
    justify-content: center;
    flex-wrap:wrap;
    gap:30px;
}
.skill{
    display:flex;
    flex-direction:column;
    align-items:center;
}
.skill img{
    width:80px;
    height:80px;
    object-fit:contain;
    margin-bottom:10px;
    transition:transform 0.3s,box-shadow 0.3s;
}
skill img:hover{
    transform:scale(1.1);
    box-shadow:0 0 15px cyan;
}
.skill p{
    color:white;
    font-weight:bold;
}
.project-card a{
    color:cyan;
    text-decoration:black;
    font-weight:bold;
}
.project-card a:hove{
    color:yellow;
}